TG__BOT_TOKEN=<bot token>

DB__USER=<db user>
DB__PASSWORD=<db password>
DB__HOST=<db host>
DB__PORT=5432
DB__NAME=<db name>

DB__ECHO=True
DB__POOL_SIZE=5
DB__MAX_OVERFLOW=10
DB__POOL_PRE_PING=True
DB__POOL_RECYCLE=300

DB__AUTOFLUSH=False
DB__EXPIRE_ON_COMMIT=False
